*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 200svh;
  background: linear-gradient(
    180deg,
    #231e23 0%,
    #252525 10%,
    #00d8c9 100%
  ); 
  color: #FFF;
  
}