/* From Uiverse.io by MuhammadHasann */
.resume-button {
  position: relative;
  padding: 5px 25px;
  background: #c084fc;
  font-size: .9em;
  font-weight: 500;
  color: #181818;
  border: 3px solid #c084fcd9;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.resume-button .fil0 {
  fill: #fffdef;
}
.fil0 {
  fill: #c084fcd9;
}

/* All star containers */
.resume-button .star-1,
.resume-button .star-2,
.resume-button .star-3,
.resume-button .star-4,
.resume-button .star-5,
.resume-button .star-6 {
  position: absolute;
  width: auto;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
}

/* Individual star positions & sizes */
.resume-button .star-1 { top: 20%; left: 20%; width: 25px; transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96); }
.resume-button .star-2 { top: 45%; left: 45%; width: 15px; transition: all 1s cubic-bezier(0, 0.4, 0, 1.01); }
.resume-button .star-3 { top: 40%; left: 40%; width: 5px; transition: all 1s cubic-bezier(0, 0.4, 0, 1.01); }
.resume-button .star-4 { top: 20%; left: 40%; width: 8px; transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01); }
.resume-button .star-5 { top: 25%; left: 45%; width: 15px; transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01); }
.resume-button .star-6 { top: 5%; left: 50%; width: 5px; transition: all 0.8s ease; }

/* Hover effect */
.resume-button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

.resume-button:hover .star-1 {
  top: -80%;
  left: -30%;
  width: 25px;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.resume-button:hover .star-2 {
  top: -25%;
  left: 10%;
  width: 15px;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.resume-button:hover .star-3 {
  top: 55%;
  left: 25%;
  width: 5px;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.resume-button:hover .star-4 {
  top: 30%;
  left: 80%;
  width: 8px;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.resume-button:hover .star-5 {
  top: 25%;
  left: 115%;
  width: 15px;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.resume-button:hover .star-6 {
  top: 5%;
  left: 60%;
  width: 5px;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}